<nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand">
  <div class="container-fluid">

    <!-- Si non connecté -->
    <ul *ngIf="!(user|async)" class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link active" routerLink="/membres/connexion">Se connecter</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" routerLink="/membres/inscription">S'inscrire</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" routerLink="/produits">Liste des produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/categories">Liste des categories</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" routerLink="/recherche">Recherche</a>
      </li>  
    </ul>

    <!-- Si connecté -->
    <ul *ngIf="user|async" class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" (click)="deconnexion()">Déconnexion de {{user|async}}</a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/produits">Liste des produit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/produits/:categorie">Liste des produits par categorie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/recherche">Recherche</a>
        </li>
    </ul>
  </div>
</nav>
