<form (ngSubmit)="onSubmit()" #rechercheForm="ngForm">
    <label for="exampleFormControlSelect1">Choisissez par quel type rechercher:</label>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="categorie" name="categorie">
      <option value="nom">Nom</option>
      <option value="prix">Prix</option>
      <option value="type">Categorie</option>
      <option value="marque">Marque</option>
    </select>
	<label> Reccherche: </label>
    <input type="text" class="form-control" required [(ngModel)]="recherche" name="recherche" />

    <input type="submit" value="Rechercher"/>
</form>
<ul>
    <li *ngFor="let produit of produits"> {{produit['nom']}} ({{produit['type']}}) {{produit['prix']}} {{produit['marque']}}<a *ngIf="user|async" [routerLink]="['/panier/achat', produit.nom, produit.marque,produit.type,produit.prix, 1]"> achat </a></li> 
</ul>